/********************************
GENERAL
*********************************/

html,body{
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper{
    min-height: 320px;
    max-width: 940px;
    margin: 0 auto -6rem;
    height: 95%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/********************************
HEADING
*********************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100% ;
}

#user-name {
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Changa One', sans-serif; /*english*/
    /*font-family: 'Tinos', Arial, serif; /!*hebrew*!/*/
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}



/********************************
NAVIGATION
*********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    margin: 0 12px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}

/********************************
FOOTER
*********************************/

footer{
    text-align: center;
    height: auto;
    background-color: #c8adda;
    border-radius: 30px;
    border: 5px;
    padding: 1em;
    margin: 20px 5px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}