/********************************
GENERAL
*********************************/

html{
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0 0 80px;
}

ul {
    list-style: none;
}

.wrapper{
    /*margin-top: -1.5em;*/
    position: relative;
    /*min-height: 100%;*/
    height: auto;
    /*margin-bottom: -60px;*/
    max-width: 940px;
    font-size: 0.7rem;
}

dt{
    text-indent: 3em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/********************************
HEADING
*********************************/
header {
    margin: 0 0 30px 0;
    padding: 5px 0 15px;
    width: 100% ;
}

#user-name {
    text-align: center;
    margin: 0;
    font-size: 1.8em;
    font-family: 'Changa One', sans-serif; /*english*/
    /*font-family: 'Tinos', Arial, serif; /!*hebrew*!/*/
    font-weight: normal;
    line-height: 0.8em;
}

#navbar{
    margin-top: -1em;
    font-size: 0.9rem;
}


/********************************
NAVIGATION
*********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    margin: 0 12px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a{
    font-weight: 800;
    font-size: 0.8em;
    padding: 15px 10px;
}



/********************************
PAGE ABOUT/PERSONAL_DETAILS
*********************************/

#profile-img {
    display: block;
    max-width: 150px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
}
.personal_details dd {
    margin-left: 5em;
}

.personal_details dd a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

dd.phones a{
    background-image: url('img/phone.png');
}

dd.emails a{
    background-image: url('img/mail.png')
}
/********************************
PAGE EDUCATION
*********************************/
.education li span {
    display: block;
    margin-left: 2em;
}

.education dd{
    margin-left: 5em;
}


/********************************
PAGE  EXPERIENCE
*********************************/
.experience li span{
    margin-left: 2em;
    display: block;
}

.experience dd{
    display: block;
    margin-left: 5em;
}

/*.experience dt span{*/
    /*margin-left: 2.8em;*/
/*}*/

/********************************
FOOTER
*********************************/

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #c8adda;
    border-radius: 30px;
    border: 5px;
    padding: 0.4em 0 0.5em;
    margin: 0 5px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-bottom: -0.8em;
}



/********************************
COLORS
*********************************/

/* site body */
body {
    background-color: #fff;
    color: #7795da;
}

header {
    background-color: BurlyWood;
}
strong{
    color: #6b5bff;
}

b {
    color: #4c56ff;
}

a {
    color: DimGray;
}

.active a{
    color: LightSlateGray;
}

a:hover {
    color: DarkSlateGray;
}
