
@media screen and (min-width: 480px){

    #navbar {
        margin-top: -2em;
        float:left ;
    }

    .personal_details img {
        float: right ;
    }
}

@media screen and (min-width: 1024px) {

    html {
        font-size: 115%;
    }
    .wrapper {
        min-height: 350px;
        background-color: yellow;
    }
    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right;
    }
}